
   :root {
    --insights-text-color: #000000;
    --insights-back-icon-color: #000000;
    --insights-stat-label-color: #555555;
    --insights-stat-value-color: #000000;
    --insights-card-title-color: #ffffff;
    --state-bg-color: #bbbbbb;
  }
  
  [data-theme='dark'] {
    --insights-text-color: #ffffff;
    --insights-back-icon-color: #ffffff;
    --insights-stat-label-color: #bbbbbb;
    --insights-stat-value-color: #ffffff;
    --insights-card-title-color: #ffffff;
    --state-bg-color: #1e1e1e;
  }
  
  .insights-container {
    font-family: sans-serif;
    padding: 16px;
    margin-top: 10px;
    color: var(--insights-text-color);
  }
  
  .header {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
  }
  
  .back-icon {
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    color: var(--insights-back-icon-color);
  }
  
  .header h2 {
    font-size: 24px;
    margin: 0;
    color: var(--insights-text-color);
  }
  
  .offer-card {
    margin-top: 20px;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
  }
  
  .offer-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .offer-title {
    position: absolute;
    bottom: 20px;
    left: 12px;
    color: var(--insights-card-title-color);
    font-size: 16px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  }
  
   .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 0;
    background-color: var(--state-bg-color);
    margin-top: -3px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px;
  }
  
  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .stat-value {
    font-size: 18px;
    font-weight: bold;
    color: var(--insights-stat-value-color);
  }
  
  .stat-label {
    font-size: 13px;
    color: var(--insights-stat-label-color);
    margin-top: 4px;
    margin-bottom: 4px;
  }
   