.attractions-wrapper h2 {
  margin: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
}
.attractions-wrapper{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.scroll-container {
  overflow: hidden;
  padding-bottom: 10px;
}

.motion-scroll {
  display: flex;
  gap: 8px;
  width: max-content;
}

.motion-scroll:active {
  cursor: grabbing;
}
