.attractionsWrapper h2 {
  margin: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
}
.attractionsWrapper{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.scrollContainer {
  overflow: hidden;
  padding-bottom: 10px;
}

.motionScroll {
  display: flex;
  gap: 8px;
  width: max-content;
}

.motionScroll:active {
  cursor: grabbing;
}
