:root {
  --Attraction-card-bg: #F5F5F5;
  --card-text: #000000;
  --card-category-bg: rgba(255, 255, 255, 0.8);
  --heart-bg: rgba(0, 0, 0, 0.4);
}

[data-theme='dark'] {
  --Attraction-card-bg: #1e1e1e;
  --card-text: #ffffff;
  --card-category-bg: #444;
  --heart-bg: #444;
}


.attractionCard {
  width: 300px;
  min-width: 300px;
  flex-shrink: 0;
  border-radius: 12px;
  scroll-snap-align: start;
  background: var(--Attraction-card-bg);
  color: var(--card-text);
  transition: background-color 0.3s ease;

}

.attractionCardImageContainer {
  position: relative;
  height: 180px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.attractionCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.attractionCardHeartIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--heart-bg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  cursor: pointer;
  z-index: 10;
  font-size: 22px;
}


.attractionCardCategory {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--card-category-bg);
  padding: 3px 10px;
  font-size: 14px;
  border-radius: 10px;
}

.attractionCardDetails {
  padding: 12px;
}

.attractionCardDetails h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.attractionCardDetails p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #777;
}

.attractionsWrapper h2 {
  color: var(--text-color);
}

.button-group {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-button {
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.filter-button:hover {
  background-color: #c0c0c0;
}


@media (max-width: 360px) {
  .button-group {
    gap: 7px;
  }
.filter-button {
  padding: 9px 9px;

}
}

@media (max-width: 345px) {
  .button-group {
    gap: 6px;
  }
.filter-button {
  padding: 7px 7px;

}
}

@media (max-width: 325px) {
  .button-group {
    gap: 3px;
  }
.filter-button {
  padding: 7px 7px;
  font-size: 13px;
}
}


@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.heartAnimate {
  animation: pop 0.3s ease;
}

.bubblesContainer {
  position: absolute;
  top: 20px;
  right: 40px;
  pointer-events: none;
  z-index: 2;
}

.bubble {
  position: absolute;
  font-size: 10px;
  color: red;
  animation: floatUp 1s ease-out forwards;
}
.bubble::before {
  content: '❤️';
}


@keyframes floatUp {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-10px, -40px) scale(0.5);
    opacity: 0;
  }
}