:root {
  --input-bg: #ffffff;
  --input-text: #000000;
  --input-placeholder: #666666;
}

[data-theme='dark'] {
  --input-bg: #2a2a2a;
  --input-text: #ffffff;
  --input-placeholder: #aaaaaa;
}


.header-wrapper {
  width: 100%;
  height: 100%;
  background-image: url('../assets/header.gif');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.header-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  color: white;
  box-sizing: border-box;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.location {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

/* .location-icon {
  margin-right: 4px;
} */

.location-icon-img {
  width: 20px;
  height: 20px;
  /* margin-right: 4px; */
  vertical-align: middle;
}


.menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}


.search-bar {
  /* background: white; */
  background: var(--input-bg); 
  border-radius: 20px;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 16px;
  margin-left: 8px;
  flex: 1;
  background-color: transparent;
  color: var(--input-text);
}

.search-bar input::placeholder {
  color: var(--input-placeholder); /* ✅ theme-aware */
  opacity: 0.7;
}
.search-icon-img {
  width: 28px;
  height: 28px;
  object-fit: contain;
  border-radius: 20px;
  opacity: 0.4;
}
